extends ../layouts/index-layout.pug

block content
	section.py-5
		.container.h-100
			.row.d-flex.align-items-center.justify-content-center.h-100
				.card.py-4.px-3.col-12.col-md-7
					h2.pb-4.px-3.text-capitalize.m-0= __('titles.register')
					form.col-12(action="/auth/register", method="POST")
						include ../partials/csrf.pug
						.form-row
							.form-group.col-12
								label.text-capitalize.text-dark.font-weight-bold.m-0(for="name")= __('user.name')
									span.ml-2.text-danger *
								input.form-control#name.text-secondary(name="name" type="text" placeholder=__('user.name') required)
							.form-group.col-12
								label.text-capitalize.text-dark.font-weight-bold.m-0(for="username")= __('user.username')
									span.ml-2.text-danger *
								input.form-control.text-secondary#username(name="username" type="text" placeholder=__('user.username') required)
							.form-group.col-12
								label.text-capitalize.text-dark.font-weight-bold.m-0(for="email")= __('user.email')
									span.ml-2.text-danger *
								input.form-control#email.text-secondary(name="email" type="email" placeholder=__('user.email') required)
							.form-group.col-12
								label.text-capitalize.text-dark.font-weight-bold.m-0(for="password")= __('user.password')
									span.ml-2.text-danger *
								input.form-control.text-secondary#password(name="password" type="password" aria-describedby="passwordHelp" placeholder=__('user.password') required)
							.form-group.col-12
								label.text-capitalize.text-dark.font-weight-bold.m-0(for="confirmPassword")= __('user.confirm_password')
									span.ml-2.text-danger *
								input.form-control.text-secondary#confirmPassword(name="confirmPassword" type="password" aria-describedby="confirmPasswordHelp" placeholder=__('user.confirm_password') required)
							.form-group.col-12
								label.text-capitalize.text-dark.font-weight-bold.m-0(for="adminCode")
									| Admin Code
									small.text-muted - optional
								input.form-control.text-secondary#adminCode(name="adminCode" type="password" aria-describedby="adminCodeHelp" placeholder="Admin code")
								small.form-text.text-muted#adminCodeHelp no worries if you don't have admin code, this field for admins only and not required for normal users.
						.form-row.mt-3
							.col-12.col-md-2
								button.w-100.btn.btn-primary.text-white.text-capitalize(type="submit")= __('user.register')