nav.h-100.border-bottom.bg-white
	.container.d-flex.align-items-center.justify-content-between
		a.logo.text-black.h-100.px-5.border-right(href="/" data-toggle="tooltip" data-placement="bottom" title=__("starter_env.main_title"))
			span(class="lnr lnr-coffee-cup text-primary")
		.d-flex.flex-row.align-items-center.justify-content-end.w-75
			ul.d-none.flex-row.align-items-center.justify-content-end.w-100.d-md-flex.m-0
				li(class=(_.isEqual(title, "Home") ? "text-capitalize  bg-primary m-0 border-right px-3" : "text-capitalize  m-0 border-right px-3"))
						a(class=(_.isEqual(title, "Home") ? "text-white" : " ") href="/")= __("titles.home")
				if (user && _.isEqual(user.role, "superAdmin"))
					li(class=(_.isEqual(title, "Admins") ? "text-capitalize bg-primary m-0 border-right px-3" : "text-capitalize m-0 border-right px-3"))
						a(class=(_.isEqual(title, "Admins") ? "text-white" : " ") href="/admins")= __("titles.admins")
				if (user && _.isEqual(user.role, "admin") || user && _.isEqual(user.role, "superAdmin"))
					li(class=(_.isEqual(title, "Users") ? "text-capitalize bg-primary m-0 border-right px-3" : "text-capitalize m-0 border-right px-3"))
						a(href="/users" class=(_.isEqual(title, "Users") ? "text-white" : " "))= __("titles.users")
				if user
					li.text-capitalize.text-dark.px-3.m-0.border-right
						a(href="/auth/logout")= __('user.logout')
				else
					li(class=(_.isEqual(title, "login") ? "text-capitalize bg-primary m-0 border-right px-3" : "text-capitalize  m-0 border-right px-3"))
						a(href="/auth/login" class=(_.isEqual(title, "login") ? "text-white" : " "))= __('user.login')
					li(class=(_.isEqual(title, "register") ? "text-capitalize bg-primary m-0 border-right px-3" : "text-capitalize m-0 border-right px-3"))
						a(href="/auth/register" class=(_.isEqual(title, "register") ? "text-white" : " "))= __('user.register')
				if (lang === 'en')
					li(class="text-capitalize m-0 px-3 pb-2") 
						a(href="/lang/ar" style="font-family: 'Cairo', sans-serif !important;")= __('lang.ar')
				if (lang === 'ar')
					li(class="text-capitalize mr-4 px-3") 
						a(href="/lang/en")= __('lang.en')
				if user
					li(class=(_.isEqual(title, `${user.profile.name}'s profile`) ? "mx-3 rounded-circle" : "mx-3 rounded-circle"))
						a(href=`/auth/profile/${user.profile.slug}` title=__("user.%s 's profile", `${user.profile.name}`) class="p-3" data-toggle="tooltip" data-placement="bottom")
							if (user.profile.picture || user.profile.picture_sm || user.profile.picture_md || user.profile.picture_lg)
								img.rounded-circle(src=(!user.profile.picture_sm) ? user.profile.picture : user.profile.picture_sm ,  width="50px" height="auto")
							else
								img.rounded-circle(src=user.gravatar(50))
			.d-inline-block.d-md-none.pl-3.py-3
				span.menu-open.lnr.lnr-menu.text-dark

<!-- Direction options are: up, down, left, right -->
<!-- Speed options are: slow, slower, fast, faster -->
<!-- Animation Type options: fade, slide, zoom, bounce -->
<!-- Defauly options are: data-enternce-direction: left, data-exit-direction: left, data-animation-type: slide, data-speed: 1s -->
.overlay(data-enternce-direction="left" data-exit-direction="left" data-speed="fast" data-animation-type="fade")
	span.menu-close.lnr.lnr-cross