extends ../layouts/index-layout.pug

block content
	section(style="height: calc(100vh - 73px);")
		.container.h-100
			.row.h-100.d-flex.align-items-center.justify-content-center
				.card.px-3.py-4.col-12.col-md-9
					h2.pb-4.px-3.text-capitalize.m-0= __('titles.reset_password')
					form.col-12(method="POST")
						input(name="_csrf", type="hidden", value=`${csrfToken}`)
						.form-row
							.form-group.col-12.col-md-6
								label.text-capitalize.font-weight-bold(for="password")= __('user.password')
								input.form-control.text-secondary#password(name="password" type="password" aria-describedby="passwordHelp" placeholder=__('user.password'))
							.form-group.col-12.col-md-6
								label.text-capitalize.font-weight-bold(for="confirmPassword")= __('user.confirm_password')
								input.form-control.text-secondary#confirmPassword(name="confirmPassword" type="password" aria-describedby="confirmPasswordHelp" placeholder=__('user.confirm_password'))
						.form-row
							.col-12.col-md-3
								button.w-100.btn.btn-primary.text-white(type="submit")= __('titles.reset_password')
