extends ../layouts/index-layout.pug

block content
	section.d-flex.align-items-center.justify-content-center(style="min-height: 80vh;")
		.container.d-flex.flex-column.align-items-stretch.justify-content-between
			h1.border-bottom.py-3.w-100.mb-4.text-capitalize= __('titles.reset_password')
			form.w-75.mx-auto(method="POST")
				input(name="_csrf", type="hidden", value=`${csrfToken}`)
				.form-group
					label.text-capitalize(for="password")= __('user.password')
					input.rounded-0.form-control#password(name="password" type="password" aria-describedby="passwordHelp" placeholder=__('user.password'))
				.form-group
					label.text-capitalize(for="confirmPassword")= __('user.confirm_password')
					input.rounded-0.form-control#confirmPassword(name="confirmPassword" type="password" aria-describedby="confirmPasswordHelp" placeholder=__('user.confirm_password'))
				button.btn.btn-primary.rounded-0.text-white(type="submit")= __('titles.reset_password')
