extends ../layouts/index-layout.pug
include ../mixins/_pagination.pug

block content
	section.py-5
		.container
			.row
				.col-12.card.py-4.px-4
					h2.pb-2.text-capitalize.m-0= `${title}`
					.table-responsive-md
						table.table.table-lg.table-hover.border.border-top-0.rounded.usersListing
							thead
								tr
									th.border-bottom-0(scope='col') Edit
									th.border-bottom-0(scope='col') Pic
									th.border-bottom-0(scope='col') Email
									th.border-bottom-0(scope='col') Role
									th.border-bottom-0(scope='col') Active
									th.border-bottom-0(scope='col') Id
							tbody
								each singleUser, index in users
									tr
										td.py-2.d-flex.align-items-center.justify-content-around(scope='row')
											a.text-danger(href=`/auth/profile/delete/${singleUser._id}`)
												span.fas.fa-trash-alt
											a(href=`/auth/profile/${singleUser._id}`)
												span.fas.fa-pencil-alt
										td.py-2
											.media
												if (singleUser.profile.picture || singleUser.profile.picture_sm || singleUser.profile.picture_md || singleUser.profile.picture_lg)
													img.rounded-circle.mt-1.mr-2.w-auto(data-placement="top", data-toggle="tooltip", src=(!singleUser.profile.picture_sm) ? singleUser.profile.picture : singleUser.profile.picture_sm, title=`${singleUser.profile.name}`, height="30px")
												else
													img.rounded-circle.mt-1.mr-2.w-auto(data-placement="top" data-toggle="tooltip" src=user.gravatar(30, singleUser.email) title=`${singleUser.profile.name}`)
												.media-body
													h6.m-0= `${singleUser.profile.name}`
													p.m-0= `${singleUser.role}`
										td.py-2= `${singleUser.email}`
										td.py-2
											span(class=(_.isEqual(singleUser.role, "admin") ? "badge badge-primary text-uppercase text-white w-100" : "badge badge-warning text-uppercase text-white w-100"))= `${singleUser.role}`
										td.py-2= `${singleUser.active}`
										td.py-2= `${singleUser._id}`
					if (pages > 0)
						+pagination(baseUrl, page, pages, "end")
